doctype html
html
  head
    meta(charset='utf-8')

  body
    ._header
      form._search
        input.input._search-input(name='a' autofocus='autofocus' placeholder='Search...')
    .splash._splash-title DevDocs
    .results.hidden
    .content.hidden._content
    script.result-template(type='text/html')
      | <% _.each(obj, function(result) { %>
      .result._list-item(class!='_icon-<%= result.category %>' data-score!='<%= result.score + "|"+ result.message %>' data-type!='<%= result.type %>' data-path!='<%= result.path %>' data-category!='<%= result.category %>') <%= _.escape(result.name) %>
      | <% }) %>

    script(src='popup.js')
